@import url(reset.css);
body{
    width: 100vw;
    background-color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    padding: 10px;
}

.titulo h1{
    color: antiquewhite;
    font-size: 3rem;
    text-align: center;
    text-shadow: -3px -3px 3px goldenrod;
    padding: 10px;
}

.titulo{
    margin-top: 15px;
    margin-bottom: 1.5rem;
}

.info-jogo{
    max-width: 30rem;
    width: 100%;
    height: 5rem;
    margin-bottom: 15px;
    background-color: antiquewhite;
    border: 4px solid rgb(124, 95, 22);
    border-radius: 20px;
    box-shadow: -3px -3px 6px black inset, -3px -3px 6px goldenrod;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.display{
    display: flex;
    flex-direction: column;
    text-align: center;
    
}

.texto{
    font-size: 18px;
}

#nome{
    text-transform: uppercase;
    font-weight: bolder;
    font-size: 18px;
    color: #333;
    text-shadow: 2px 2px 3px black;
}

.container-grid{
    display: grid;
    width: 100%;
    max-width: 800px;
    grid-template-columns: repeat(8,1fr);
    gap: 10px;
    position: relative;
    
}

.card{
    aspect-ratio: 3/4;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform-style:preserve-3d ;
    transition: all .7s;
}

.face{
    background-color: black;
    width: 100%;
    height: 101%;
    border-radius: 2.5px; 
    border: 1px solid goldenrod;   
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    overflow: hidden;
}

.front{
    transform: rotateY(180deg);
    background-image: url('/assets/img/dragao-alado-de-ra.png');
    background-size:100% 100%;
    background-repeat: no-repeat;
    transition: all .5s linear;
}
.back{
    background-image: url(../img/fundo.png);
    background-size: 101% 100%;
    background-repeat: no-repeat;
    backface-visibility: hidden;
}

.flip{
    transform: rotateY(180deg);
}

.desabilitar{
    filter: opacity(40%);
    filter: saturate(3%);
    transition-delay: .8s; 
}

@media (max-width: 620px){
    .container-grid{
        grid-template-columns: repeat(6,1fr);
        padding: 10px;  
    }
    .titulo h1{
        padding: 0;
        margin-top: 0;
    }
    .info-jogo{
        height: 4.3rem;
        margin-top: 2px;
    }

}
@media (max-width: 491px){
    .titulo h1{
        font-size: 2.5rem;
    }

}
@media (max-width: 445px){
    .container-grid{
        grid-template-columns: repeat(6,1fr);
        padding: 8px;
    }

}
@media (max-width: 418px){
    .titulo h1{
        font-size: 2.2rem;
    }

}
@media (max-width: 418px){
    .titulo h1{
        font-size: 2.2rem;
    }

}