@import url(reset.css);

body{
    background-color: #333;
    display: flex;
    position: relative;
    top: 20px;
}

.container-grid{
    display: grid;
    width: 100%;
    max-width: 800px;
    grid-template-columns: repeat(5,1fr);
    gap: 10px;
    background-color: rgb(163, 226, 163);

}

.card{
    aspect-ratio: 3/4;
    width: 100%;
    background-color:blueviolet;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}